div {   
text-align:center;
padding:2em;       	
width: 2em;        	
border: 2px solid black;   	
border-radius: 5px;
} 
 
#one {         	
background-color: #FF0000;
position: fixed;
}  
#two {     
margin-left:150px;
background-color: #0000FF;
position: fixed;
} 
 
#three {      	
background-color: #FFD700;
margin-top:200px;
position: fixed;
} 
 
#four {       
margin-left:200px;
margin-top:200px;
background-color: #308014;
position: fixed;
}